        <nav>
            <div class="container">
                <a href="#" class="logo">Talk About</a>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/createtopic">Create a Topic</a></li>
                    <li><a href="/viewtopics">View Topics</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </nav>