        <nav>
            <div class="container">
                <a href="#" class="logo">Talk About</a>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Create a Topic</a></li>
                    <li><a href="#services">View Topics</a></li>
                    <li><a href="#contact">Logout</a></li>
                </ul>
            </div>
        </nav>