<link rel="stylesheet" href="/css/website.css">

<section>
        <div class="chatblock">    
            <div class="box">
                {{> partials}}
                <h2>Add a New Topic</h2>
                <form action="/sendcomments/{{topicid}}" method="POST" class="topic-form">
                    <div class="form-group">
                    
                    
                    <div class="form-group">
                        <label for="commentary">Create commentary: </label>
                        <textarea name="comment" rows="4" required></textarea>
                    </div>
                    
                    <input type="hidden" name="topicid" value="{{topicid}}">



                    <button type="submit">Send</button>
                </form>

            </div>
    </section>
