<link rel="stylesheet" href="/css/website.css">

<section>
        <div class="chatblock">    
            <div class="box">
                {{> partials}}
                <h2>Add a New Topic</h2>
                <form action="/bookreceived" method="POST" class="topic-form">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="theme">Theme:</label>
                        <input type="text" name="theme" required>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="text">Text:</label>
                        <textarea name="text" rows="4" required></textarea>
                    </div>
                    
                    <button type="submit">Add Topic</button>
                </form>

            </div>
    </section>

    {{> footer}}