   <link rel="stylesheet" href="/css/website.css">

<section>
        <div class="chatblock">    
            <div class="box">
                {{> partials}}

                <h2>{{username}}</h2>

                <p>{{password}}</p>

                <form action="/deleteuser/{{id}}" method="POST">
                <button type="submit" class="delete">Delete</button>
                </form>

            </div>
        </div>
</section>