<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>Your register was done, {{username}}</h2>
        <p>Thanks! Now, you can proceed down below:</p>
        <div class="confirmation-link">
            <p><a href="/">Click here to login</a></p>
        </div>
    </div>