<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>Registro Concluído, {{username}}</h2>
        <p>Obrigado por se registrar. Seu cadastro foi realizado com sucesso.</p>
        <div class="confirmation-link">
            <p><a href="/">Clique aqui para fazer login</a></p>
        </div>
    </div>