<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>Your {{title}} was created!</h2>
        <p>Your topic was created successfully.</p>
        <div class="confirmation-link">
            <p><a href="/viewtopics">View Topics</a></p>
        </div>
    </div>