<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>Your commentary was created!</h2>
        <p>Your commentary was sent successfully.</p>
        <div class="confirmation-link">
            <p><a href="/seecomments/{{id}}">View Comments</a></p>
        </div>
    </div>