

<link rel="stylesheet" href="/css/website.css">

<section>
    <div class="chatblock">    
        <div class="box">
            {{> partials}}

            {{#each rows}}

              <div class="comment">
                    <p>{{comments}}</p>

                    <form action="/editcomment/{{id}}" method="GET">
                    
                    <button type="submit">Edit</button>

                    </form>

                    <form action="/deletecomment/{{id}}" method="GET">
                    <input type="hidden" value="{{commentid}}">
                    <button type="submit" class="delete">Delete</button>
                    </form>

                </div>

                {{/each}}

        </div>
    </div>
</section>
