

<link rel="stylesheet" href="/css/website.css">

<section>
    <div class="chatblock">    
        <div class="box">
            {{> partials}}

            {{#each rows}}

              <div class="comment">
                    <p>{{comments}}</p>

                    <a href="/editcomment/{{id}}">Edit</a>

                    <form action="/deletecomment/{{id}}" method="POST">

                        <button type="submit" class="delete">Delete</button>

                    </form>

                </div>

                {{/each}}

        </div>
    </div>
</section>
