

<link rel="stylesheet" href="/css/website.css">

<section>
    <div class="chatblock">    
        <div class="box">
            {{> partials}}

            {{#each rows}}

              <div class="comment">
                    <p>{{comments}}</p>

                    <form action="/deletecomment/{{id}}" method="GET">
                   
                    <button type="submit" class="delete">Delete</button>
                    </form>

                </div>

            {{else}}

            <h2>No comments found.</h2>

            {{/each}}

        </div>
    </div>
</section>
